{{ partial "header.html" . }}
<article class="uk-article">
    <h2 id="Overview" class="heading-margin-top">Overview</h2>
    <p>MultiMC is an alternative launcher for Minecraft. It allows you to have multiple, cleanly separated instances of Minecraft (each with their own mods, resource packs, saves, etc) and helps you manage them and their associated options with a simple and powerful interface.</p>
    <p>Download links for the latest version are below.</p>
    <h2 id="Features">Features</h2>
    <ul>
        <li>Manage multiple isolated instances of Minecraft, keeping them clean.</li>
        <li>Drill into the details - see the logs, mods and everything else easily.</li>
        <li>No surprises - MultiMC aims to stay predictable and do what you tell it to do.</li>
        <li>Fine control over Java settings and runtimes. Each instance has settings overrides that you can enable on top of the global settings.</li>
        <li>MultiMC game logs come with extra information that helps diagnose problems, and they are color coded.</li>
        <li>Support for running old versions the way they were released, instead of relying on compatibility hacks.</li>
        <li>Kill Minecraft easily if it crashes / freezes.</li>
        <li>MultiMC is extremely lightweight, enabling it to run in the background and keeping an eye on the game even on ancient machines where every megabyte of memory matters.</li>
        <li>Easy installation of common mod loaders - Forge, Fabric, Quilt and LiteLoader.</li>
        <li>Minecraft world and resource/texture pack management.</li>
        <li>Import and export of Minecraft instances to share them with anyone.</li>
        <li>Import modpacks from various platforms - Modrinth, CurseForge and FTB (via import from <a href="https://www.feed-the-beast.com/app">FTB App</a>), Technic, ATLauncher and FTB legacy. The more, the merrier.</li>
    </ul>

    <h2 id="Screenshots">Screenshots</h2>
    <ul class="bxslider">
        <li><img src="/images/screenshots/main.png" alt="Main window"/></li>
        <li><img src="/images/screenshots/editmods.png" alt="Edit Mods"/></li>
        <li><img src="/images/screenshots/version.png" alt="Edit version information"/></li>
        <li><img src="/images/screenshots/console.png" alt="Console"/></li>
        <li><img src="/images/screenshots/settings.png" alt="Settings"/></li>
    </ul>

    <h2 id="Download">Download & Install</h2>
    <p>Choose the download for your operating system below, extract the archive to a new folder and run it. If you're using Linux, remember to make it executable before you try to run it.</p>
    <div data-uk-grid-margin="data-uk-grid-margin" data-uk-grid-match="{target:'.uk-panel'}" class="uk-grid">
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title"><i class="uk-icon-windows uk-icon-small"></i> Windows</h3>
                <a href="https://files.multimc.org/downloads/mmc-develop-win32.zip" class="uk-button uk-button-expand uk-button-success"><i class="uk-icon-download"></i> Download (32/64-bit)</a>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title"><i class="uk-icon-apple uk-icon-small"></i> macOS (10.13+)</h3>
                <a href="https://files.multimc.org/downloads/mmc-develop-osx64-5.15.2.tar.gz" class="uk-button uk-button-expand uk-button-success"><i class="uk-icon-download"></i> Download (64-bit)</a>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title"><i class="uk-icon-linux uk-icon-small"></i> Linux</h3>
                <a href="https://files.multimc.org/downloads/multimc_1.6-1.deb" class="uk-button uk-button-expand uk-button-success"><i class="uk-icon-download"></i> Debian/Ubuntu</a>
                <a href="https://github.com/MultiMC/multimc-pkgbuild" class="uk-button uk-button-expand uk-button-success"><i class="uk-icon-download"></i> Arch Linux</a>
                <a href="https://files.multimc.org/downloads/mmc-develop-lin32.tar.gz" class="uk-button uk-button-expand uk-button-success"><i class="uk-icon-download"></i> Binary Tarball (32-bit)</a>
                <a href="https://files.multimc.org/downloads/mmc-develop-lin64.tar.gz" class="uk-button uk-button-expand uk-button-success"><i class="uk-icon-download"></i> Binary Tarball (64-bit)</a>
            </div>
        </div>
    </div>
    <p>MultiMC requires Qt5 to be installed on linux. If you don't have it, you may have to install the following packages, depending on distribution:</p>
    <ul>
        <li>Arch: <tt>qt5-base</tt></li>
        <li>OpenSuse: <tt>libqt5-qtbase</tt></li>
        <li>CentOS/Fedora/RHEL: <tt>qt5-qtbase</tt></li>
        <li>Ubuntu/Debian: <tt>libqt5core5a</tt> <tt>libqt5network5</tt> <tt>libqt5gui5</tt></li>
    </ul>

    <h2 id="Patreon">Support us on Patreon!</h2>
    <p>We're running a <a href="http://www.patreon.com/multimc" target="_blank">Patreon campaign</a> so that we can continue to pay for our server hosting costs, and invest into new hardware and server infrastructure. $5 gets you a mention in the credits of the app along with a Discord role, and if we can maintain at least $100 a month total, we'll be able to keep the website ad-free!</p>
    <a href="http://www.patreon.com/multimc" target="_blank"><img src="/images/patreon_name_banner.png" style="width: 200px;" alt="Main window"/></a>

    <h2 id="Discord">Discord server</h2>
    <p>You can talk to us directly on our discord server. <a href="https://discord.gg/multimc" target="_blank">Just click join!</a></p>
    <iframe src="https://discordapp.com/widget?id=132965178051526656&amp;theme=dark" width="350" height="500"></iframe>
    <p>Just understand that we're most likely busy with Real Work&trade; and Real Life&trade; most of the time.</p>

    <script src="/assets/js/bxslider/bxslider_start.js"></script>

    <h2 id="Source">Source Code</h2>
    <p>MultiMC is based on the code hosted on <a href="https://www.github.com/MultiMC/Launcher/">GitHub</a>. The source is only provided for the purpose of collaboration. The changes in the binary distribution compared to code are the inclusion of branding and API keys required for the launcher to function, along with packaging-related adjustments.</p>

    <h2 id="Branding">Branding, identifying marks and API keys</h2>
    <p>The logo and related assets are All Rights Reserved and may only be used in official builds of MultiMC hosted on multimc.org.</p>
    <p>You may not reuse the MultiMC API keys and client IDs under any circumstances.</p>
</article>
{{ partial "footer.html" . }}
