doctype 5
html(lang="en")
    head
        title= document.title
        link(rel="stylesheet", href="assets/css/uikit.multimc.min.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="assets/js/uikit.min.js")

    body
        nav.uk-navbar.uk-navbar-attached
            .uk-container.uk-container-center
                a.uk-navbar-brand.uk-hidden-small(href="/") MultiMC
                ul.uk-navbar-nav
                    li: a(href="/about") About
                    li: a(href="/blog") Blog
                    li: a(href="") ...

        .uk-container.uk-container-center
            h1= document.title
            != content