//- vim: set expandtab ts=4 sw=4 :
doctype 5
html(lang="en")
    head
        title= document.title
        link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
        link(rel="stylesheet", href="/assets/css/uikit.multimc.min.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans")
        link(rel="stylesheet", href="/assets/css/bxslider/jquery.bxslider.css")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="/assets/js/uikit.min.js")
        script(src="/assets/js/bxslider/jquery.bxslider.min.js")
        script var _sf_startpt=(new Date()).getTime()

    body
        .uk-navbar.uk-navbar-attached
            .uk-container.uk-container-center.uk-margin-top.uk-margin-bottom
                a(href="/").uk-navbar-brand
                    img(src="/images/infinity32.png", alt="MultiMC logo").uk-float-left
                    h1.top-bar.uk-float-left.uk-margin-top-remove.uk-margin-bottom-remove.uk-margin-left
                        | MultiMC
                        small.uk-h2.uk-margin-left Manage Minecraft instances with ease             
        .uk-container.uk-container-center.uk-margin-top     
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-4.uk-hidden-small
                    ul.uk-nav.uk-nav-side(data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}")
                        li.uk-nav-header Home
                        li: a(href="/") Overview
                        li: a(href="/#Features") Features
                        li: a(href="/#Download & Install") Download & Install
                        li: a(href="http://www.patreon.com/multimc") Support us on Patreon
                        li: a(href="/#Donate") Donate
                        li: a(href="/#Spotlights") Spotlights
                        li: a(href="/#Source Code") Source Code
                        li: a(href="/#Screenshots") Screenshots
                        li: a(href="https://github.com/MultiMC/MultiMC5/wiki/FAQ") FAQ

                        li.uk-nav-header Blog
                        li: a(href="/posts.html") Recent posts
                        ul.uk-nav-sub 
                            each post in getFilesAtPath("posts").toJSON().sort(function(a,b) { return (a.date > b.date) ? -1 : ((b.date > a.date) ? 1 : 0); } ).slice(0, 5)
                                li
                                    a(href=post.url) #{post.title}

                        li.uk-nav-header External
                        li: a(href="https://github.com/MultiMC/MultiMC5/issues", target="_blank") Issue Tracker
                        li: a(href="https://www.pivotaltracker.com/s/projects/869353", target="_blank") Dev Tracker
                        li: a(href="http://ci.multimc.org/", target="_blank") CI
                        li: a(href="http://www.minecraftforum.net/topic/1000645-", target="_blank") MCF Thread
                        li: a(href="http://webchat.esper.net/?nick=&channels=MultiMC", target="_blank") IRC Channel
                .uk-width-medium-3-4
                    include ads/top.html
                    article.uk-article!= content
            hr
            .uk-text-center
                p
                    | Copyright &copy; 2013-2014 MultiMC Contributors
                    br
                    small
                        | With 
                        i.uk-icon-heart
                        |  from 
                        a(href="https://twitter.com/drayshak", target="_blank") @drayshak
                p
                    i Revision: 
                        include ../../../last_commit.html

                p: a(href="https://github.com/MultiMC/MultiMC-Website/blob/master/LICENSE.md", target="_blank") License
        script(src="/assets/js/analytics.js")
