---
title: "FAQ"
layout: "default"
isPage: true
---

h2.heading-margin-top(id="FAQ") Frequently Asked Questions
p 
  | The FAQ is now located on 
  a(href="https://github.com/MultiMC/MultiMC5/wiki/FAQ") GitHub
  | .