---
title: "MultiMC"
layout: "default"
isPage: true
---

h2.heading-margin-top(id="Overview") Overview
p
	| MultiMC is a free, open source launcher for Minecraft, managed by 
	a(href="https://twitter.com/forkk13", target="_blank") @Forkk13
	| , 
	a(href="https://twitter.com/peterixxx", target="_blank") @peterixxx
	|  and 
	a(href="https://twitter.com/drayshak", target="_blank") @drayshak
	| . It allows you to have multiple, separate instances of Minecraft (each with their own mods, texture packs, saves, etc) and helps you manage them and their associated options with a simple interface.

p
	| MultiMC 5 is nearing its first stable release, and seems to work well for most people. If you don't want to try it yet, MultiMC 4 is stable and available from 
	a(href="http://forkk.net/MultiMC4.html", target="_blank") Forkk's website
	| , but can only manage Minecraft versions 1.5.x and below.

h2(id="Features") Features
ul
	li Manage multiple instances of Minecraft at once
	li Start Minecraft with a custom resolution
	li Change Java's runtime options (including memory options)
	li Shows Minecraft's console output in a colour coded window
	li Kill Minecraft easily if it crashes / freezes
	li Custom icons and groups for instances
	li Forge integration (automatic installation, version downloads, mod management)
	li LWJGL version changing built-in
	li Supports every version of Minecraft that the vanilla launcher does

h2(id="Download & Install") Download & Install
p Choose the download for your operating system below, extract the archive to a new folder and run it. If you're using Linux, remember to make it executable before you try to run it.
p: b
	span(style="color:red") MultiMC 5 is still considered pre-release
	ul
		li We try to keep the builds stable, but things might break between versions or as new features are added
		li Until we release a stable version, keep a copy of old versions just in case,
		li
			| If you have problems, tell us on 
			a(href="http://webchat.esper.net/?nick=&channels=MultiMC", target="_blank") IRC
			| !
.uk-grid(data-uk-grid-margin, data-uk-grid-match="{target:'.uk-panel'}")
	.uk-width-medium-1-3
		.uk-panel.uk-panel-box
			h3.uk-panel-title
				i.uk-icon-windows.uk-icon-small
				|  Windows
			a.uk-button.uk-button-expand.uk-button-success(href="http://files.multimc.org/downloads/mmc-develop-win32.zip") Pre-release (x86/x64)
	.uk-width-medium-1-3
		.uk-panel.uk-panel-box
			h3.uk-panel-title
				i.uk-icon-apple.uk-icon-small
				|  OS X
			a.uk-button.uk-button-expand.uk-button-success(href="http://files.multimc.org/downloads/mmc-develop-osx64.tar.gz") Pre-release (x64)
	.uk-width-medium-1-3
		.uk-panel.uk-panel-box
			h3.uk-panel-title
				i.uk-icon-linux.uk-icon-small
				|  Linux
			//- a.uk-button.uk-button-expand(disabled) Download (x86)
			a.uk-button.uk-button-expand.uk-button-success(href="http://files.multimc.org/downloads/mmc-develop-lin64.tar.gz") Pre-release (x64)

h2(id="Source Code") Source Code
p
	| The source code for MultiMC (and this website) is hosted at 
	a(href="https://www.github.com/MultiMC/") GitHub
	| .

h2(id="Screenshots") Screenshots
p Content coming soon.